Contributors.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Contributors.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Contributors.xcodeproj/project.xcworkspace/xcuserdata/poolit.xcuserdatad/UserInterfaceState.xcuserstate
Contributors.xcodeproj/xcuserdata/poolit.xcuserdatad/xcschemes/xcschememanagement.plist
